import alt from "../alt";

class @EntityClass@ {
   constructor() {
      this.generateActions("update@EntityName@s");
   }

   // additional, non-obvious actions...
}

export default alt.createActions(@EntityClass@);
