import alt from "../alt";
import @EntityName@Actions from "../actions/@entity-name@-actions";

class @EntityClass@ {
   constructor() {
      this.bindActions(@EntityName@Actions);

      // set initial store properties here...
   }

   /* ========== EVENT HANDLERS ============*/

   update@EntityName@s() {
      this.setState(/* args */);
   }
}

export default alt.createStore(@EntityClass@);
