import alt from "alt";
import _u from "../_util";

const @EntityClass@ = _u.load("@entity-type@s/@filename@");

// see https://github.com/jdlehman/alt-example-tests on how to write
// tests for alt

describe("@EntityClass@", () => {
  beforeEach(_u.startWatch); /* ..and.. */ afterEach(_u.stopWatch);

  it("shouldn't have any tests", () => {
    true.should.be(false);
  });
});
