.error-page {
  h1 {
    margin-bottom: 23px;
  }

  h2 {
    font-size: 35px;
    color: white;
    text-align: center;
  }

  .error-detail {
    font-size: 28px;
    color: white;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
  }
}
