#horizon {
  .jumping-container, .loading-container {
    z-index: 99;
  }

  .loading-container {
    position: fixed;

    background: rgba(0,0,0,0.8);
    border-radius: 100%;
    border: 1px solid black;
    bottom: 10px;
    left: 12px;

    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 6px;
    padding-top: 7px;
  }

  .jumping-container {
    position: fixed;

    bottom: -60px;
    right: 10px;

    -webkit-transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);
    -moz-transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);
    -o-transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);
    transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);

    .jumper {
      cursor: pointer;

      width: 30px;
      height: 30px;
    }

    &.jump-to-top {
      bottom: -30px;
    }

    &.jump-to-page {
      bottom: 10px;
    }
  }
}
