#horizon {
  .jumping-container, .loading-container {
    z-index: 99;
  }

  .loading-container {
    position: fixed;

    bottom: 10px;
    left: -9px;

    .loader {
      color: white;

      width: 40px;
      height: 40px;
    }
  }

  .jumping-container {
    position: fixed;

    bottom: -60px;
    right: 10px;

    -webkit-transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);
    -moz-transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);
    -o-transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);
    transition: bottom 0.4s cubic-bezier(.44,.16,.01,1);

    .jumper {
      cursor: pointer;

      width: 30px;
      height: 30px;
    }

    &.jump-to-top {
      bottom: -30px;
    }

    &.jump-to-page {
      bottom: 10px;
    }
  }
}
