.details-row {
  cursor: pointer;
  padding: 15px;
  overflow: hidden;

  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;

  overflow-wrap: break-word;
  word-wrap: break-word;

  background-color: rgba(0,0,0,0.6);
  color: white;

  .comment-section {
    font-size: 16;
    
    .comment {
      text-align: left;

      .comment-header {
        background: lightgray;

        img {
          margin-right: 5px;
        }
      }

      .comment-body {

      }
    }
  }

  p, .parser, .parser p {
    font-weight: 300;
    opacity: 0.9;
    font-size: 16;

    span.final-word {
      -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 40%);
    }
  }

  h3 {
    margin-bottom: 10px;
    font-weight: 100;
  }

  img {
    float: left;
    margin-right: 10px;
  }

  a {

  }

  &:first-child {
    border-top: 1px solid white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &:hover {
    background-color: #58e8e3;
  }
}
