.montserrat {
   font-family: "montserrat";
}

@font-face {
   font-family: "montserrat";
   src: url("./montserrat/montserrat-ultra-light.woff");
   font-weight: 200;
}
@font-face {
   font-family: "montserrat";
   src: url("./montserrat/montserrat-light.woff");
   font-weight: 300;
}
@font-face {
   font-family: "montserrat";
   src: url("./montserrat/montserrat-regular.woff");
   font-weight: 400;
}
@font-face {
   font-family: "montserrat";
   src: url("./montserrat/montserrat-semi-bold.woff");
   font-weight: 600;
}
@font-face {
   font-family: "montserrat";
   src: url("./montserrat/montserrat-bold.woff");
   font-weight: 700;
}
@font-face {
   font-family: "montserrat";
   src: url("./montserrat/montserrat-extra-bold.woff");
   font-weight: 800;
}
@font-face {
   font-family: "montserrat";
   src: url("./montserrat/montserrat-black.woff");
   font-weight: 900;
}
